@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 900;
}

body {
  background: linear-gradient(60deg, rgb(157, 0, 0), rgb(0, 15, 152));
}

.calculator-grid {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
  cursor: pointer;
  font-size: 24px;
  background-color: rgba(255, 255, 255, .75);
  border: .5px solid white;
  outline: none;
  transition: .3s;
}

.calculator-grid>button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}


.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output> [data-previous-operand] {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5em;
}

.output> [data-current-operand] {
  color: white;
  font-size: 2.5em;
}